# Copy to ~/.config/hledger-btc/wallets.toml and chmod 600

[wallets.testwallet]
wallet         = "testwallet"
network        = "bitcoin"
ext_descriptor = "wpkh([73c5da0a/84'/0'/0']xpub6CatWdiZiodmUeTDp8LT5or8nmbKNcuyvz7WyksVFkKB4RHwCD3XyuvPEbvqAQY3rAPshWcMLoP2fMFMKHPJ4ZeZXYVUhLv1VMrjPC7PW6V/0/*)"
int_descriptor = "wpkh([73c5da0a/84'/0'/0']xpub6CatWdiZiodmUeTDp8LT5or8nmbKNcuyvz7WyksVFkKB4RHwCD3XyuvPEbvqAQY3rAPshWcMLoP2fMFMKHPJ4ZeZXYVUhLv1VMrjPC7PW6V/1/*)"
client_type    = "electrum"
server_url     = "ssl://electrum.blockstream.info:50002"
journal_file   = "/tmp/testwallet.journal"
